@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");

.home > h1 {
  font-size: 4em;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.home > h3 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.home {
  padding-top: 10%;
  line-height: 1.7;
  background-color: #fdee00;
  height: 100vh;
}
