@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.mainFile {
  padding: 20px 0px;
  background-color: #080808;
  height: 100%;
}

.personalInfo > h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  padding-bottom: 20px;
  color: #56c9aa;
}

@media screen and (max-width: 660px) {
  .personalInfo > h1 {
    font-size: 2.5em;
    font-family: "Dancing Script", cursive;

    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5% 8%;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
}

.infoContainer > label {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
  color: #56c9aa;
}

.infoContainer > input,
.infoContainer > textarea {
  width: 50%;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 660px) {
  .infoContainer > input,
  .infoContainer > textarea {
    width: 85%;
  }
  .infoContainer > label {
    font-family: "Dancing Script", cursive;
  }
}

::placeholder {
  color: #181e4b;
  opacity: 0.5;
  font-family: "Dancing Script", cursive;
  font-size: 1.3em;
  text-align: center;
}

/* education details */

.educationDetails {
  padding-top: 5%;
  padding-bottom: 3%;
}
.educationDetails > h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  padding-bottom: 20px;
  color: #56c9aa;
  text-transform: capitalize;
}

.secondary__container,
.highSecondary__container,
.university__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 2;
}
.highSecondary__container,
.university__container {
  margin-top: 3%;
}

.secondary__container > h2,
.highSecondary__container > h2,
.university__container > h2 {
  text-align: center;
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  text-transform: capitalize;
  padding-bottom: 2%;
  color: #56c9aa;
}

@media screen and (max-width: 660px) {
  .educationDetails > h1 {
    text-decoration: none;
    font-family: "Dancing Script", cursive;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5% 8%;
  }
}

.secondary__container > label,
.highSecondary__container > label,
.university__container > label {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: #56c9aa;
}
.main__education {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.secondary__container > input,
.highSecondary__container > input,
.university__container > input {
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 660px) {
  .secondary__container > h2,
  .highSecondary__container > h2,
  .university__container > h2 {
    font-size: 2em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3%;
    margin: 3%;
  }
  .highSecondary__container > h2 {
    line-height: 1.2;
  }

  .secondary__container > label,
  .highSecondary__container > label,
  .university__container > label {
    font-size: 1.5em;
    font-family: "Dancing Script", cursive;
  }
  .secondary__container,
  .highSecondary__container,
  .university__container {
    width: 85%;
  }
}

/* skills */

.skills > h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  color: #56c9aa;
}
.skills__one,
.skills__two,
.skills__three,
.skills__four,
.skills__five {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 660px) {
  .skills__one,
  .skills__two,
  .skills__three,
  .skills__four,
  .skills__five {
    padding-top: 2%;
  }
  .skills > h1 {
    text-decoration: none;
    font-family: "Dancing Script", cursive;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5% 8%;
  }
  .skills {
    padding: 5%;
  }
}

.skills__one > .MuiSvgIcon-root,
.skills__two > .MuiSvgIcon-root,
.skills__three > .MuiSvgIcon-root,
.skills__four > .MuiSvgIcon-root,
.skills__five > .MuiSvgIcon-root {
  color: rgb(250, 8, 8);
  padding-right: 10px;
  font-size: 2em;
  animation: rotation 2s infinite linear;
  padding: 3%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.skills__container {
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills__one > input,
.skills__two > input,
.skills__three > input,
.skills__four > input,
.skills__five > input {
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 660px) {
  .skills__one > input,
  .skills__two > input,
  .skills__three > input,
  .skills__four > input,
  .skills__five > input {
    width: 250px;
  }
}

/* projects */

.project__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}

.project__container > h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 3em;

  color: #56c9aa;
}
.project__one,
.project__two {
  padding: 1%;
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.projectOne__header > h2,
.projectTwo__header > h2 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  padding-right: 10px;
  color: #56c9aa;
}
.projectOne__header,
.projectTwo__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__one > input,
.project__one > textarea,
.project__two > input,
.project__two > textarea {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (max-width: 660px) {
  .project__one > input,
  .project__one > textarea,
  .project__two > input,
  .project__two > textarea {
    width: 280px;
  }
  .project {
    padding: 5%;
  }

  .project__container > h1 {
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5% 8%;
    padding: 2% 10%;
  }
  .projectOne__header > h2,
  .projectTwo__header > h2 {
    padding-right: 5px;
  }
  .projectOne__header,
  .projectTwo__header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 5% 10%;
  }
}

/* experience */

.experience > h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
  color: #56c9aa;
}

.experience {
  padding-top: 3%;
  padding-bottom: 2%;
}
.experience__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}
.experience__header > h2 {
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  color: #56c9aa;
}

.experience__header > .MuiSvgIcon-root {
  font-size: 2em;
  padding-right: 10px;
  animation: rotation 5s infinite linear;
}

.experience__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}
.experience__input > input,
.experience__input > textarea {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 660px) {
  .experience {
    padding: 5%;
  }
  .experience > h1 {
    font-size: 2.5em;
    font-family: "Dancing Script", cursive;
    padding-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5% 8%;
    padding: 2% 10%;
  }
  .experience__input > input,
  .experience__input > textarea {
    width: 85%;
  }
  .experience__header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2%;
    margin: 5% 10%;
  }
}

/* button */

.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.btn > button {
}
.resume__container {
  margin: 0 20%;
}
